*{margin: 0px;
padding: 0px;}
.logo{width: 200px;
height: 60px;}
.menu-container{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(135, 132, 132);
}
.manus{
    display: flex;
  
}
.list{margin: 10px;
    cursor: pointer;
}
.list:hover{
    color: aquamarine;
}
.bannar-img{width: 300px;}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border: 2px solid tomato;
    border-radius: 10px;*/
    height: 100vh;
    background-image: url("./istockphoto-1419766496-170667a.webp");



}
.banner-text{color: aqua;}
button{color: rgb(209, 187, 187);
background-color: red;
padding: 5px;
border-radius: 10px;
}
.img-aboutus{width: 250px;
height: 200px;}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
background-image: url(./photo-1579546929518-9e396f3cc809.webp);}
.aboutus-header{text-align: center;}
.box{
    width: 200px;
    height: 300px;
    align-items: center;
    
}
.box-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 500px;
    align-items: center;
}
.oursr-head{text-align: center;
background-color: black;
color: aquamarine;}